/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */
textarea:active, 
input:active, 
button:active,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
textarea:focus, 
input:focus,
button:focus,
label:focus{
  outline:0px !important;
  -webkit-appearance: none;
}
html {
  height:100%;
}
body {
  height:100%;
  font-size:16px;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url('../public/agsquare.png') !important;
  background-repeat: repeat !important;
}

label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
button {
  background: cadetblue;
  border: none;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
  color: white;
}
button:active {
  box-shadow:none;
}

/* Checkbox */
.vas-main-tabContent input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.vas-btn-confirm {
  margin: 0 15px;
  min-width: 70px;
  padding: 10px 10px;
}
.vas-btn-no {
  background-color:red;
}
.vas-btn-yes {
  background-color:green;
}

/* Slide to Unlock Slider */
.pullee {
  margin-left:-5px;
  display: block;
  padding: 15px 0;
  background: none;
  width: 15rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  transition: opacity 2s;
}
.pullee:active::-webkit-slider-thumb {
  appearance: none;
  transform: scale(1.1);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.pullee:active::-moz-range-thumb {
  border: 0;
  transform: scale(1.1);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.pullee:active::-ms-thumb {
  transform: scale(1.1);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.pullee:focus {
  outline: none;
}
.pullee::-webkit-slider-thumb {
  appearance: none;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: darkorange;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform ease-out 100ms;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.pullee::-moz-range-thumb {
  border: 0;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: darkorange;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform ease-out 100ms;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.pullee::-ms-thumb {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: darkorange;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform ease-out 100ms;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.pullee::-webkit-slider-runnable-track {
  height: 40px;
  padding: .25rem;
  box-sizing: content-box;
  border-radius: 50px;
  background-color:#ffc38b;
}
.pullee::-moz-range-track {
  height: 40px;
  padding: .25rem;
  box-sizing: content-box;
  border-radius: 50px;
  background-color:#ffc38b;
}
.pullee::-moz-focus-outer {
  border: 0;
}
.pullee::-ms-track {
  border: 0;
  height: 40px;
  padding: .25rem;
  box-sizing: content-box;
  border-radius: 50px;
  background-color:#ffc38b;
  color: transparent;
}
.pullee::-ms-fill-lower, .pullee::-ms-fill-upper {
  background-color: transparent;
}
.pullee::-ms-tooltip {
  display: none;
}

.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vas-btn {
  min-width: 55px;
  margin-bottom:7px;
  cursor: pointer;
  position: relative;
  line-height: 25px;
  padding: 10px;
  margin-right: 7px;
  font-size: 100%;
  font-weight: bold;
  color: #597490;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
  background: #d8e6f4;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #b2bcc8 #acb6c0 #97abba;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #f1f6ff, #d3dde7 70%, #bfcddc);
  box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.06);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.vas-radio-select,
.vas-checkbox-select {
  display:none;
}
.vas-radio-select:checked + label,
.vas-radio-select:checked + label:active,
.vas-checkbox-select:checked + label,
.vas-checkbox-select:checked + label:active {
  background: #7d91a9;
  border-color: #708191 #6d8295 #7b8c9e;
  background-image: -webkit-linear-gradient(top, #7d91a9, #92a7bc);
  background-image: -moz-linear-gradient(top, #7d91a9, #92a7bc);
  background-image: -o-linear-gradient(top, #7d91a9, #92a7bc);
  background-image: linear-gradient(to bottom, #7d91a9, #92a7bc);
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  color: white;
  text-shadow: 1px 1px 1px black;
}
.vas-number-select {
  height: 40px;
  border-radius: 3px;
  border: none;
  padding-left: 10px;
  box-shadow: inset 1px 1px 2px black;
}

.vas-table {
  margin-bottom:0;
  background-color:#c5d5e6;
}
.vas-table-tr {
  cursor:pointer;
  box-shadow: inset 0px -6px 3px -5px steelblue;
}
.vas-warn-btn {
  background:red;
  color:white;
}