.vas-admin-login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #555;
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
}
.vas-admin-login-container h3 {
  text-align: center;
  margin-bottom:15px;
}
.vas-admin-login-wrap {
  position: relative;
  margin: 0 auto;
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px;
}
.vas-admin-login-wrap h2 {
  text-align: center;
  font-weight: 200;
  font-size: 2em;
  margin-top: 10px;
  color: #34495e;
}
.vas-admin-color-border {
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}
.vas-admin-color-border-block {
  display:inline-block;
  width:20%;
  height:5px;
}
.vas-admin-color-border-block-1{
  background-color:#27ae60;
}
.vas-admin-color-border-block-2{
  background-color:#8e44ad;
}
.vas-admin-color-border-block-3{
  background-color:#3498db;
}
.vas-admin-color-border-block-4{
  background-color:#e74c3c;
}
.vas-admin-color-border-block-5{
  background-color:#f1c40f;
}
.vas-admin-login-form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  border: solid thin darkgrey;
  border-radius: 3px;
  height: 30px;
  padding-left: 5px;
}
.vas-admin-login-btn {
  border: none;
  background: mediumseagreen;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  min-width: 120px;
  box-shadow: 1px 2px 2px black;
}
.vas-admin-login-btn:active,
.vas-admin-login-btn:disabled {
  box-shadow: none;
}
.vas-admin-login-forgot {
  display: block;
  margin-top: 15px;
  text-align: center;
}
.vas-admin-main-container header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  height:35px;
  align-items: center;
  background:darkblue;
  color:white;
  padding:0 10px;
  z-index: 10;
}
.vas-admin-main-container h2 {
  border-right: solid 2px darkgrey;
  padding-right: 10px;
  color:gold;
  font-weight: bold;
  font-size:110%;
}
.vas-admin-main-container h3 {
  color: cadetblue;
  font-size: 120%;
  text-shadow: 0px 1px 0px black;
  margin-bottom: 10px;
  border-bottom: solid 2px grey;
  padding-bottom: 5px;
}
.vas-admin-main-container h4 {
  
}
.vas-admin-menu {

}
.vas-admin-menu-item {
  display:inline-block;
  margin:0 10px;
  cursor: pointer;
  color:darkgray;
}
.vas-admin-menu-item[data-isactive='true'] {
  color: white;
  text-shadow: 0px 0px 3px black;
}
.vas-admin-username {
  color: darkturquoise;
  display: inline-flex;
  margin: auto;
  margin-right: 0;
}
.vas-admin-logout {
  display:inline-flex;
  margin-left:10px;
  background:cadetblue;
  color:white;
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow:1px 1px 2px black;
  user-select: none;
}
.vas-admin-logout:active{
  border:solid thin coral;
}
.vas-admin-main-content {
  margin-top:35px;
  padding:10px;
}
.vas-admin-page-container {
  display:none;
}
.vas-admin-page-container[data-isactive='true'] {
  display:block;
}
.vas-admin-date-range-container {

}
.vas-admin-date-range-inner {
  display:inline-block;
  margin-right:15px;
}
.vas-damin-date-label {
  margin-bottom:5px;
}
.vas-admin-datepicker {
  border: solid 2px darkgrey;
  border-radius: 5px;
  height: 35px;
  padding-left: 5px;
}
.vas-admin-date-range-checkboxes{
  display: inline-block;
}
.vas-admin-date-range-show-all {
  margin-right: 9px;
  transform: scale(1.7);
}
.vas-admin-date-range-submit {
  border: none;
  padding: 9px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left:10px;
  box-shadow: 1px 1px 2px black;
  background: cadetblue;
  color: white;
}
.vas-admin-date-query-container {
  margin-top:10px;
}

/* Users Page */
.vas-admin-add-user-container label {
  display:block;
  margin-top:15px;
  margin-bottom:5px;
}
.vas-admin-add-user-container input[type='text'] {
  border:solid 2px darkgrey;
  border-radius: 3px;
  padding-left:5px;
  min-width: 300px;
  height:35px;
}
.vas-admin-add-user-container input[type='checkbox']{
  transform: scale(1.8);
  margin-left: 4px;
  margin-top: 5px;
}
.vas-admin-create-user {
  display: block;
  margin: 15px 0;
}
.vas-admin-add-user-notes{
  margin-top:10px;
  color:darkgrey;
  font-style: italic;
}
.vas-admin-added-user-row {
  margin-top:5px;
}
.vas-admin-added-user-row b {
  font-weight:bold;
}
.vas-admin-table {
  width:100%;
  margin-top:10px;
}
.vas-admin-table th{
  background: darkgrey;
  padding: 8px 0px 8px 5px;
  border: solid 2px grey;
  cursor: pointer;
}
.vas-admin-table tr {
  border-bottom: solid thin grey;
}
.vas-admin-table td {
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
}
.admin-nostretch {
  white-space: nowrap;
}
.vas-admin-delete-user {
  text-align: center;
}
.vas-admin-delete-user p {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}