.vas-admin-main-container header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  height:35px;
  align-items: center;
  background:darkblue;
  color:white;
  padding:0 10px;
  z-index: 10;
}
.vas-admin-main-container h2 {
  border-right: solid 2px darkgrey;
  padding-right: 10px;
  color:gold;
  font-weight: bold;
  font-size:110%;
}
.vas-admin-main-container h3 {
  color: cadetblue;
  font-size: 120%;
  text-shadow: 0px 1px 0px black;
  margin-bottom: 10px;
  border-bottom: solid 2px grey;
  padding-bottom: 5px;
}
.vas-admin-main-container h4 {
  font-size: 110%;
  font-weight: bold;
  color: midnightblue;
  margin-bottom: 10px;
}
.vas-admin-menu {

}
.vas-admin-menu-item {
  display:inline-block;
  margin:0 10px;
  cursor: pointer;
  color:darkgray;
}
.vas-admin-menu-item[data-isactive='true'] {
  color: white;
  text-shadow: 0px 0px 3px black;
}
.vas-admin-username {
  color: darkturquoise;
  display: inline-flex;
  margin: auto;
  margin-right: 0;
}
.vas-admin-logout {
  display:inline-flex;
  margin-left:10px;
  background:cadetblue;
  color:white;
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow:1px 1px 2px black;
  user-select: none;
}
.vas-admin-logout:active{
  border:solid thin coral;
}
.vas-admin-main-content {
  margin-top:35px;
  padding:10px;
}
.vas-admin-page-container {
  display:none;
}
.vas-admin-page-container[data-isactive='true'] {
  display:block;
}
.vas-admin-date-range-container {

}
.vas-admin-date-range-inner {
  display:inline-block;
  margin-right:15px;
}
.vas-damin-date-label {
  margin-bottom:5px;
}
.vas-admin-datepicker {
  border: solid 2px darkgrey;
  border-radius: 5px;
  height: 35px;
  padding-left: 5px;
}
.vas-admin-date-range-checkboxes{
  display: inline-block;
}
.vas-admin-date-range-show-all {
  margin-right: 9px;
  transform: scale(1.7);
}
.vas-admin-date-range-submit {
  display:block;
  border: none;
  padding: 9px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left:10px;
  box-shadow: 1px 1px 2px black;
  background: cadetblue;
  color: white;
}
.vas-admin-date-query-container {
  margin-top:10px;
}

/* Users Page */
.vas-admin-add-user-container label {
  display:block;
  margin-top:15px;
  margin-bottom:5px;
}
.vas-admin-add-user-container input[type='text'] {
  border:solid 2px darkgrey;
  border-radius: 3px;
  padding-left:5px;
  min-width: 300px;
  height:35px;
}
.vas-admin-add-user-container input[type='checkbox']{
  transform: scale(1.8);
  margin-left: 4px;
  margin-top: 5px;
}
.vas-admin-create-user {
  display: block;
  margin: 15px 0;
}
.vas-admin-add-user-notes{
  margin-top:10px;
  color:darkgrey;
  font-style: italic;
}
.vas-admin-added-user-row {
  margin-top:5px;
}
.vas-admin-added-user-row b {
  font-weight:bold;
}
.vas-admin-table {
  width:100%;
  margin-top:10px;
}
.vas-admin-table th{
  background: darkgrey;
  padding: 8px 0px 8px 5px;
  border: solid 2px grey;
  cursor: pointer;
}
.vas-admin-table tr {
  border-bottom: solid thin grey;
}
.vas-admin-table td {
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
}
.admin-nostretch {
  white-space: nowrap;
}
.vas-admin-delete-user {
  text-align: center;
}
.vas-admin-delete-user p {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
.vas-admin-manage-users-pw {
  cursor:pointer;
  user-select: none;
}
.vas-admin-query-procedure-names {
  white-space: nowrap;
}

.vas-admin-custom-table {
  width:100%;
}
.vas-admin-custom-table-header {
  height: 35px;
  background: cadetblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  color: white;
}
.vas-admin-no-calls-container {
  background:lightblue;
  padding:5px;
}
.vas-admin-reverse-sort-btn {
  padding: 5px 4px;
  background: lightseagreen;
  margin-left: 10px;
}
.vas-admin-custom-table-item-outer {
  background:lightblue;
  border-top:solid 2px black;
  font-size:85%;
}
.vas-admin-custom-table-item {
  display:flex;
}
.vas-admin-custom-table-td {
  
}
.vas-admin-custom-table-item-column {
  display:inline-block;
  padding:1%;
}
.vas-admin-custom-table-item-column-1 {
  width:10%;
}
.vas-admin-custom-table-item-column-2 {
  width:25%;
}
.vas-admin-custom-table-item-column-2
.vas-admin-custom-table-td {
  border-bottom: dotted 1px black;
  padding-bottom: 2px;
}
.vas-admin-custom-table-item-column-2
.vas-admin-custom-table-td:last-child {
  border:none;
}
.vas-admin-custom-table-item-column-3 {
  display:inline-block;
  width:40%;
}
.vas-admin-custom-table-item-column-4 {
  display:inline-block;
  width:25%;
}
.vas-admin-custom-table-item-column-4
.vas-admin-left-column {
  display:inline-block;
  font-size:90%;
}
.vas-admin-custom-table-item-column-4
.vas-admin-right-column {
  float:right;
}
.vas-admin-custom-table-item-column-4
.vas-admin-custom-table-td {
  border-bottom:dotted 1px black;
  padding:1px 0;
}
.vas-admin-custom-table-item-column-4
.vas-admin-custom-table-td:last-child {
  border:none;
}
.vas-admin-custom-item-subfield,
.vas-admin-custom-item-subvalue {
  display:inline-block;
}
.vas-admin-custom-item-subfield {
  font-weight: bold;
  font-size: 90%;
  color: midnightblue;
}
.vas-admin-custom-item-subvalue {
  float:right;
  text-transform: capitalize;
}
.vas-admin-custom-table-item-comments {
  padding: 5px;
  font-size: 90%;
  border-top: solid 1px darkgrey;
}
.vas-admin-custom-table-item-comments p{
  width:50%;
  display:inline-block;
}
.vas-admin-custom-table-item-comments b{
  font-weight: bold;
}
.vas-admin-col-3-header {
  font-size: 85%;
  color: midnightblue;
  font-weight: bold;
}
.vas-admin-query-procedure-names {
  font-size: 80%;
  border-bottom: dotted 1px black;
  width: 95%;
  font-weight: bold;
}
.vas-admin-query-procedure-container {
  width:33%;
  display: inline-table;
}
.vas-admin-custom-table-date {

}
.vas-admin-query-item-container {
  font-size:80%;
}
.vas-admin-filter-container {
  display:inline-block;
  margin-right:15px;
}
.vas-admin-hospitals-list {
  background:white;
  border-top:solid 1px black;
  border-right:solid 1px black;
}
.vas-admin-hospitals-list tr{
  border-bottom:solid 1px black;
}
.vas-admin-hospitals-list th {
  background:cadetblue;
  color:white;
  padding:5px;
  border-left:solid 1px black;
}
.vas-admin-hospitals-list td {
  border-left:solid 1px black;
  padding:5px;
}
.vas-admin-hospital-input-container {
  margin-bottom:10px;
}
.vas-admin-hospital-input-submit {
  margin-top:10px;
}
.vas-admin-query-dropdown-2 option {
  text-transform: capitalize;
}