.vas-home-container {
  padding-top:60px;
}
.vas-home-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: darkslategrey;
  color: white;
  width: 100%;
  padding: 0 15px;
}
.vas-home-header-title {
  font-size: 150%;
  color: bisque;
  margin-right:40px;
}
.vas-home-header-option {
  padding: 5px 10px;
  border-right: solid 1px white;
  cursor:pointer;
}
.vas-home-main-header-left li{
  display:inline;
}
.vas-home-main-header-left li:last-child {
  border:none;
}
.vas-home-header-ul li {
  cursor:pointer;
  display:inline;
}
.vas-home-main-header-user{
  margin-right:10px;
  padding-right:10px;
  border-right:solid 1px white;
}
.vas-home-main-header-logout {
  background: darkcyan;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px black;
}
.vas-home-main-header-logout:active {
  border:none;
}
.vas-home-record-header {
  position: relative;
  padding: 10px 10px;
  background-color: #5f9ea0;
  color: #fff;
  border-bottom: solid 2px darkseagreen;
}
.vas-home-record-header p{
  font-size:150%;
  text-shadow: 1px 2px 1px black;
}
.vas-home-nav-tabs {
  background:none;
  position: relative;
  border-bottom:none;
}
.vas-home-nav-item {
  margin-right:3px;
  margin-bottom:-2px !important;
}
.vas-home-nav-link {
  border:solid 2px lightgrey;
}
.vas-home-nav-link:hover {
  border:none !important;
}
.vas-home-tabContent{
    
}
.vas-nav-link {
    cursor:pointer;
}
.vas-nav-link[aria-selected="false"]{
    background:darkcyan;
    color: lightgray;
    box-shadow: inset 0px -3px 8px -5px black;
}
.vas-nav-link.active {
  border-bottom: 2px solid #5f9ea0 !important;
  background-color: #5f9ea0 !important;
  color: white !important;
  border-color: transparent !important;
}
/* Main tab/page  */
.vas-home-inner-container {
  border-top: solid 2px cadetblue;
}
.vas-home-inner-container-main-comment {
  
}
.vas-home-inner-container-main-comment
.vas-home-inner-container-header {
  background-color: goldenrod;
}
.vas-home-inner-container-main-comment
.vas-home-inner-container-main {
  background: moccasin;
  font-style: italic;
}
.vas-home-inner-container-final {
  background:lightblue;
}
.vas-home-inner-container-final {
  background-color:bisque;
}
.vas-home-inner-container-header {
  padding: 10px;
  background-color: darkcyan;
  color: white;
  box-shadow: inset 0px -4px 8px -7px black;
}
.vas-home-inner-container-final-header {
  background-color:darkorange;
  box-shadow: none;
}
.vas-home-inner-container-main {
  padding:10px;
  background: #c5d5e6;
}
.vas-home-inner-container-row {
  position: relative;
  margin:10px 0;
}
.vas-home-btn-section {
  margin-right:15px;
}
.vas-home-btn {
  background-color:white;
  margin:5px;
}
.vas-home-needle-btn {
  background:#28a745;
  color:white;
}
.vas-home-discontinue-btn {
  background:darkblue;
  color:white;
}
.vas-home-cathflow-btn {
  background-color: darkorange;
  margin-left: auto;
  margin-right: 5px;
  padding: 12px;
  box-shadow: 1px 2px 3px black;
}
.vas-home-important-hide {
  display:none;
}
.vas-home-sub-btn {
  border: solid 1px darkgrey;
}
.vas-home-btn-active {
  border:solid 2px #007bff;
}
/* queue tab/page */
.vas-home-table {
  margin-bottom:0;
  background-color:#c5d5e6;
  
}
.vas-table-job-name {
  font-weight: bold;
  color: #4C7E80;
  font-size: 110%;
}
.vas-queue-thead {
    background:#5f9ea0;
    color:whitesmoke;
}
.vas-queue-table-job-column {
  max-width: 30%;
}
.vas-home-table tr{
  cursor:pointer;
  box-shadow: inset 0px -6px 3px -5px steelblue;
}
.vas-table-thead-row th{
  background: cadetblue;
  color: white;
  border-bottom: 3px solid darkslategrey !important;
}
.vas-table-tbody-row {

}
.vas-home-table tr:nth-child(even) {
  /* background: red; */
}
.vas-home-table tr:nth-child(odd) {
  /* background: lightblue; */
}
.vas-queue-addCall {
  position: absolute;
  right: 15px;
  top: 4px;
  z-index: 1;
}
.vas-home-table-row-is-open {
  background-color: #9DAAB8;
  color:white;
}
.vas-home-table-row-is-open
.vas-table-job-name {
  color:white;
}
.vas-home-cathflow-container {

}
.vas-buttons-active-header {
  margin-left: 10px;
  font-size: 120%;
}
.vas-buttons-active-text {
  margin-top:3px;
  margin-left: 10px;
  font-size: 110%;
}
.vas-home-record-header-btn {
  margin-right: 25px;
  margin-top: 10px;
  padding: 7px;
  background: lightskyblue;
  border: none;
  box-shadow: 1px 1px 2px black;
  color: black;
  border-radius: 3px;
}
.vas-reset-btn:active {
  box-shadow: none;
}
.vas-queue-no-items {
  text-align: center;
  margin: 22px 0;
}
.vas-home-final-container {
  padding: 22px 10px 25px 20px;
}
.vas-home-contact-id {
  display: block;
  border: solid thin grey;
  padding-left: 5px;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0px 10px;
}
.vas-home-found-user {
  color: darkcyan;
  font-weight: bold;
  font-size: 140%;
  margin-bottom: 25px;
}