.vas-home-container {
  padding-top:60px;
}
.vas-home-main-header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: darkslategrey;
  color: white;
  width: 100%;
  padding: 0 15px;
}
.vas-home-header-title {
  font-size: 150%;
  color: bisque;
  margin-right:20px;
  display: inline-block;
  white-space: nowrap;

}
.vas-home-main-header-left,
.vas-home-main-header-right {
  display: inline-flex;
  align-items: center;
  width: 50%;
  height:100%;
}
.vas-home-add-call {
  margin-right:0;
}
.vas-home-main-header-right {
  justify-content: flex-end;
}
.vas-home-main-header-user{
  display:inline-block;
  text-transform: capitalize;
  margin-right:10px;
  padding-right:10px;
  border-right:solid 1px white;
}
.vas-home-main-header-logout {
  background: darkcyan;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px black;
  margin-right:0;
}
.vas-home-main-header-logout:active {
  border:none;
}
.vas-home-record-header {
  position: relative;
  padding: 10px 10px;
  background-color: #5f9ea0;
  color: #fff;
}
.vas-home-record-header-text{
  font-size:160%;
  margin-bottom:10px;
}
.vas-home-record-header-subtext {
  font-size:110%;
  margin-bottom:10px;
}
.vas-home-nav-tabs {
  background:none;
  position: relative;
  border-bottom:none;
}
.vas-home-nav-item {
  user-select: none;
  display: inline;
  background: darkcyan;
  padding: 5px 10px 6px 10px;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: lightgrey;
  cursor: pointer;
  line-height: 190%;
}
.vas-home-nav-item[data-isactive='true']{
  background:cadetblue;
  color:white;
}
.vas-home-nav-link {
  border:solid 2px lightgrey;
}
.vas-home-nav-link:hover {
  border:none !important;
}
.vas-home-tabContent{
    
}
.vas-home-page-container {
  display:none;
}
.vas-home-page-container[data-isactive='true']{
  display:block;
}
.vas-nav-link {
    cursor:pointer;
}
.vas-nav-link[aria-selected="false"]{
    background:darkcyan;
    color: lightgray;
    box-shadow: inset 0px -3px 8px -5px black;
}
.vas-nav-link.active {
  border-bottom: 2px solid #5f9ea0 !important;
  background-color: #5f9ea0 !important;
  color: white !important;
  border-color: transparent !important;
}
/* Main tab/page  */
.vas-home-inner-container-main-comment {
  
}
.vas-home-inner-container-main-comment
.vas-home-inner-container-header {
  background-color: goldenrod;
}
.vas-home-inner-container-main-comment
.vas-home-inner-container-main {
  background: moccasin;
  font-style: italic;
}
.vas-home-inner-container-final {
  background:lightblue;
}
.vas-home-inner-container-final {
  background-color:bisque;
}
.vas-home-inner-container-header {
  padding: 10px;
  background-color: darkcyan;
  color: white;
  box-shadow: inset 0px -4px 8px -7px black;
  display:flex;
  align-items: center;
}
.vas-home-inner-container-final-header {
  background-color:darkorange;
  box-shadow: none;
}
.vas-home-inner-container-main {
  padding:10px;
  background: #c5d5e6;
}
.vas-home-inner-container-row {
  position: relative;
  margin-bottom: 15px;
  margin-top: 5px;
}
.vas-home-btn-section {
  margin-right:15px;
}
.vas-home-btn {
  background-color:white;
  margin:5px;
}
.vas-home-needle-btn {
  background:#28a745;
  color:white;
}
.vas-home-discontinue-btn {
  background:darkblue;
  color:white;
}
.vas-home-cathflow-btn {
  background-color: darkorange;
  margin-left: auto;
  margin-right: 5px;
  padding: 12px;
  box-shadow: 1px 2px 3px black;
}
.vas-home-important-hide {
  display:none;
}
.vas-home-sub-btn {
  border: solid 1px darkgrey;
}
.vas-home-btn-active {
  border:solid 2px #007bff;
}
/* queue tab/page */
.vas-home-table {
  margin-bottom:0;
  background-color:#c5d5e6;
  
}
.vas-table-job-name {
  font-weight: bold;
  color: #4C7E80;
  font-size: 110%;
}
.vas-queue-thead {
    background:#5f9ea0;
    color:whitesmoke;
}
.vas-queue-table-job-column {
  max-width: 30%;
}
.vas-table-thead-row {
  display: flex;
  background: cadetblue;
}
.vas-table-thead-row div{
  color: white;
  display:inline-block;
  padding:10px 0 10px 5px;
}
.vas-home-table-tr {
  padding:10px 0;
  width:100%;
  border-top: 1px solid #dee2e6;
  cursor:pointer;
  display: flex;
  align-items: end;
}
.vas-home-table-tr div {
  padding-left:5px;
  display:inline-block;
}
.vas-queue-addCall {
  position: absolute;
  right: 15px;
  top: 4px;
  z-index: 1;
}
.vas-home-table-row-is-open {
  background-color: #9DAAB8;
  color:white;
}
.vas-home-table-row-is-open
.vas-table-job-name {
  color:white;
}
.vas-home-cathflow-container {

}
.vas-buttons-active-header {
  margin-left: 10px;
  font-size: 120%;
}
.vas-buttons-active-text {
  margin-top:3px;
  margin-left: 10px;
  font-size: 110%;
}
.vas-home-record-header-btn {
  margin-right: 25px;
  margin-top: 10px;
  padding: 7px;
  background: lightskyblue;
  border: none;
  box-shadow: 1px 1px 2px black;
  color: black;
  border-radius: 3px;
}
.vas-reset-btn:active {
  box-shadow: none;
}
.vas-queue-no-items {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  background: lightblue;
}
.vas-home-final-container {
  padding: 22px 10px 25px 10px;
}
.vas-home-contact-id {
  display: block;
  border: solid thin grey;
  padding-left: 5px;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0px 10px;
}
.vas-home-found-user {
  color: darkcyan;
  font-weight: bold;
  font-size: 140%;
  margin-bottom: 25px;
}
.vas-home-post-comments {
  width: 100%;
  min-height: 110px;
  border-radius:4px;
}
.vas-home-options-container {
  padding:10px;
  background:skyblue;
}
.vas-home-option-inner {
  font-size: 115%;
  padding: 10px 0px;
  display: inline-block;
  margin-right: 20px;
}
.vas-home-option-inner select{
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}
.vas-home-option-inner label {
  display:block;
  margin-right:10px;
  margin-bottom:5px;
}
.vas-home-inner-span[data-procedure="InsertionProcedure"]{
  display:none;
}
.vas-home-inner-span[data-procedure="InsertionProcedure"][data-idx='0']{
  display:inline;
}
.vas-home-refresh {
  position: relative;
  top: 2px;
  width: 15px;
  margin-left: 10px;
  transform: rotate(0);
}
.vas-refresh-animate {
  animation-duration: 2s;
  animation-name:refreshAnimate;
}
.vas-home-complete-procedure-btn {
  background: seagreen;
  padding: 10px;
  font-size: 110%;
}
@keyframes refreshAnimate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform:rotate(360deg)
  }
}
.vas-home-completed-thead {
  padding: 1%;
  display: flex;
  align-items: center;
}
.vas-home-custom-table-column-1 {
  width:10%;
  padding:1%;
}
.vas-home-custom-table-column-2 {
  width:43%;
  padding:1%;
}
.vas-home-custom-table-column-3 {
  width:47%;
  padding:1%;
}
.vas-home-custom-table-item-column-procedures {
  padding: 1%;
  width: 87%;
  margin-left: 11%;
}
.vas-home-custom-table-column-2
.vas-admin-custom-table-td {
  border-bottom: dotted 1px black;
  margin-bottom: 2px;
}
.vas-home-custom-table-column-2
.vas-admin-custom-table-td:last-child {
  border-bottom: none;
}
.vas-home-reverse-sort-btn {
  margin: auto;
  margin-right: 0;
  background: teal;
}
.vas-btn-reset-buttons {
  margin: 0 auto;
  margin-right: 0;
  padding: 5px;
}
.vas-home-custom-job-input {
  font-size:90%;
}
.vas-home-live-edit-input {
  background:none;
  border:none;
  color:white;
}